.font-raleway{
    font-family: "Raleway", sans-serif;
}

.image-container {
    background-color: #0307121A; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
}
.seat{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.seat-part{
    display: flex;
    gap: 40px;
    align-items: center;
}
.seat-part>p{
    background-color: #0307121A;
   padding: 8px 30px;
   border-radius: 12px;

}
.dotted-vertical-line {
    border-left: 2px dotted #000; /* Dotted line on the left side */
    height: 750px; /* Set the height of the vertical line */
    margin: 20px; /* Add space around the line */
    
}